article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font-family: "lato", "sans-sherif";
	margin: 0;
	padding: 0;
	color: #4c4c4c;
	width: 100%;
	background: url(background/hogan2.png);
}
section {
  max-width: 86%;
  margin: 10px auto;
  padding: 70px;
  text-align: center;


}

footer {
	margin: 0 auto;
	padding: 40px;
	text-align: center;
  color: #73CBFF;
  background-color: #0D47A1;
	/*max-width: 100%;*/
}

#title {
  font-size: 0;
}

li {
	list-style: none;
}
#navimage, #footerimage {
	margin: auto, 0;
	max-width: 100%;
	height: auto;
	display: block;
}

a {
	text-decoration: none;
}
a:focus {
    outline: none;
}

p {
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
}

nav {
	width: 100%;
	background-color: #0D47A1;
	overflow: hidden;
	
}

#navbar {
	display: inline-block;
	margin-top: 0;
	float: right;
	padding-right: 20px;
	/*background-color: #e8ecdc;*/
	margin: 0 auto;

}

#navContent {
	padding: 5px;
	margin: 5px;
	display: inline-block;
	float: left;	
}

#navContent a{
  color: #73CBFF;
}

/*a {
	color: #F06292;
}*/

#navContent a:hover {
	
  color: #F06292;
}

#top {
  background-color: rgba(0,191,165,0.8);
	/*background-color: rgba(0,150,136, 0.7);*/

  margin: 0 auto;
  display: block;
  height: auto;
	/*margin-top: 20px;*/
}

.topimage {
  display: inline-block;
  position: relative;
}

.topimage img {
  height: auto;
  max-width: 100%;
}

.headline {
  position: absolute;
  top: 40%;
  left: 38%;
  font-family: 'Montserrat', 'sans-serif';
}

h1 {
	font-size: 50px;
}


h2 {
	text-align: center;
	font-size: 40px;
  padding: 20px;
}

h3 {
	font-size: 25px;
  padding: 20px;
}

#frontimage {
	border-radius: 100%;
}

#aboutMe {
    color: #4c4c4c;
}


 #contact {
	background-color: rgba(128,203,196,0.7);
}

#contact p {
  text-align: center;
}

#contact a {
  font-size: 40px;
  padding: 20px;
  color: rgba(224,242,241, 1);
}

a:hover{
  color:#F06292;
}

#contact a:hover{
  color:#F06292;
}

#work {
/*	background-color: #e8ecdc;*/
background-color: rgba(224,242,241, 0.7);
	
}


#portfolio li p{
	padding-bottom: 20px;
}

	
}

#work li {
	margin: 0 auto;
	padding: 20px;
	max-width: 50%;
	
}


#portfolio {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#portfolio li {
	max-width: 50%;
	display: inline;
	margin: 0;
	padding: 20px;
}
#imac_werobocare, #imac_upcoming {
	float: right;
	margin: 0 auto;
	height: auto;
  max-width: 100%;
}
#imac_fellowguide {
	float: left;
	margin: 0 auto;
	height: auto;
  max-width: 100%;
}

.description p {
	margin-bottom: 20px;
}
.description a {
	padding: 15px;
	border-style: solid; 

}

.descripton a:hover {
	background: rgba(239, 243, 251, 1);
	color: #F06292;
}

#portfolio .description {
	padding-top: 100px;

}

.container{
  position: relative;
  width: 300px; 
  height: 173.21px;
  background-color: #64C7CC;
  margin: 86.60px 0;
}
#skills h2{
    color: #4c4c4c;
}

h3 {
  text-align: center;
}
.principles {
  text-align: center;
}

/*hexagon grid*/

*{
  margin:0;
  padding:0;
}

#categories{
  overflow:hidden;
  width:90%;
  margin:0 auto;
}
.clr:after{
  content:"";
  display:block;
  clear:both;
}
#categories li{
  position:relative;
  list-style-type:none;
  float:left;
  overflow:hidden;
  visibility:hidden;
  transform: rotate(-60deg) skewY(30deg);
}
#categories li *{
  position:absolute;
  visibility:visible;
}
#categories li > div{
  width:100%;
  height:100%;
  text-align:center;
  color:#fff;
  overflow:hidden;
  transform: skewY(-30deg) rotate(60deg);  
  backface-visibility:hidden;
  
}

/* HEX CONTENT */
#categories li img{
  left:-100%; right:-100%;
  width: auto; height:100%;
  margin:0 auto;   
}

#categories div h3, #categories div p{
  width:100%;
  padding:0 5%;
  background-color:#008080; background-color: rgba(0, 128, 128, 0.8);
  font-family: 'Raleway', sans-serif;
  transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}
#categories li h3{
  bottom:110%;
  font-family: "Play", sans-serif;
  font-weight:normal;
  font-size:1.5em;
  padding-top:100%;
  padding-bottom:100%;
}
#categories li h3:after{
  content:'';
  display:block;
  position:absolute;
  bottom:-1px; left:45%;
  width:10%;
  text-align:center;
  z-index:1;
 /* border-bottom:2px solid #fff;*/
}
#categories li p{
  padding-top:50%;
  top:110%;
  padding-bottom:50%;
}

#categories li #cat {
	display: inline-block;
	height: 50px;
  text-align: center;
}

#overlay_bottom_cat {
  text-align: center;
}
#catbox {
    left: -25px;
    top: -5px;
}

#categories li #catbox:hover #cat{
	display:none;
}

#categories li #catbox:hover #pink{
	display:inline;
}

#categories li #pink {
	display:none;
	height: 50px;
/*    left: -25px;
    top: -5px;*/
}


/* HOVER EFFECT  */

#categories li div:hover h3 {
  bottom:50%;
  padding-bottom:10%;
}

#categories li div:hover p{
  top:50%;
  padding-top:10%;
}
@media (min-width:1201px) {
  #categories li{
    width:17.364%; /* = (100-4.5) / 5.5 */
    padding-bottom: 20.05%; /* =  width /0.866 */
  }
  #categories li:nth-child(10n+6), #categories li:nth-child(10n+7), #categories li:nth-child(10n+8), #categories li:nth-child(10n+9), #categories li:nth-child(10n+10) {
    margin-top: -4.2%;
    margin-bottom: -4.2%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }
  #categories li:nth-child(10n+6):last-child, #categories li:nth-child(10n+7):last-child, #categories li:nth-child(10n+8):last-child, #categories li:nth-child(10n+9):last-child, #categories li:nth-child(10n+10):last-child{
    margin-bottom:0;
  }
  #categories li:nth-child(10n+6){
    margin-left:0.5%;
  }
  #categories li:nth-child(5n+2) {
    margin-left:1%;
    margin-right:1%;
  }
  #categories li:nth-child(5n+3),#categories li:nth-child(5n+4){
    margin-right:1%;
  }
}


@media (max-width: 1200px) and (min-width:901px) {
  #categories li{
    width:21.444%; /* = (100-3.5) / 4.5 */
    padding-bottom: 24.763%; /* =  width /0.866 */
  }
  #categories li:nth-child(8n+5), #categories li:nth-child(8n+6), #categories li:nth-child(8n+7), #categories li:nth-child(8n+8) {
    margin-top: -5.298%;
    margin-bottom: -5.298%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }
  #categories li:nth-child(8n+5):last-child, #categories li:nth-child(8n+6):last-child, #categories li:nth-child(8n+7):last-child, #categories li:nth-child(8n+8):last-child{
    margin-bottom:0;
  }
  #categories li:nth-child(8n+5){
    margin-left:0.5%;
  }
  #categories li:nth-child(4n+2) {
    margin-left:1%;
    margin-right:1%;
  }
  #categories li:nth-child(4n+3){
    margin-right:1%;
  }
}

@media (max-width: 900px) and (min-width:601px) {
  #categories li{
    width:27.857%; /* = (100-2.5) / 3.5 */
    padding-bottom: 32.168%; /* =  width /0.866 */
  }
  #categories li:nth-child(6n+4), #categories li:nth-child(6n+5), #categories li:nth-child(6n+6) {
    margin-top: -7.322%;
    margin-bottom: -7.322%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }
  #categories li:nth-child(6n+4):last-child, #categories li:nth-child(6n+5):last-child, #categories li:nth-child(6n+6):last-child{
    margin-bottom:0;
  }
  #categories li:nth-child(6n+4){
    margin-left:0.5%;
  }
  #categories li:nth-child(3n+2) {
    margin-left:1%;
    margin-right:1%;
  }
}
@media (max-width: 600px) {
  #categories li{
    width:39.4%; /* = (100-1.5) / 2.5 */
    padding-bottom: 45.496%; /* =  width /0.866 */
  }
  #categories li:nth-child(4n+3), #categories li:nth-child(4n+4){
    margin-top: -10.392%;
    margin-bottom: -10.392%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }
  #categories li:nth-child(4n+3):last-child, #categories li:nth-child(4n+4):last-child{
    margin-bottom:0;
  }
  #categories li:nth-child(4n+3){
    margin-left:0.5%;
  }
  #categories li:nth-child(2n+2) {
    margin-left:1%;
  }
  

}
#fork{
  position:fixed;
  bottom:0;
  right:0;
  color:#000;
  text-decoration:none;
  border:1px solid #000;
  padding:.5em .7em;
  margin:1%;
  transition: color .5s;
  overflow:hidden;
}
#fork:before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 130%; height: 100%;
  background: #000;
  z-index: -1;
  transform-origin:0 0 ;
  transform:translateX(-100%) skewX(-45deg);
  transition: transform .5s;
}
#fork:hover {
  color: #fff;
}
#fork:hover:before {
  transform: translateX(0) skewX(-45deg);
}

/*the end of hexagon grid*/

/*otherhat*/

/*accordion */
.wrapper {
  padding: 30px;
}

.innerwrapper {
 margin: 0 auto;
 padding: 30px;
}
.accordion_contents {
  padding: 0 25px;
}
#accordion h3 {
   background-color: rgba(109,168,229,0.7)
   border: 1px solid green;
}
#ui-id-1:hover {
  background-color: rgba(109,168,229,0.7)
 
}

#ui-id-3:hover {
  background-color: rgba(109,168,229,0.7)
}

#ui-id-5:hover {
  background-color: rgba(109,168,229,0.7)
 
}
#ui-id-1, #ui-id-3, #ui-id-5{
  outline: none;
}

/*art education principles*/
.section_content {
  max-width: 100%;
  margin: 0 auto;
}

.flipper {
  position: relative;
  float: left;
  padding: 15px;
  width: 30%;
  text-align: center;
  height: 16rem;
  margin-left: 15px;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.front {
  background-color: rgb(128,203,196);

}

.back {
  background-color: rgb(128,200,163);
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card__text {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 50px;
  color: #fff;
  font-family: "Roboto Slab", serif;
  line-height: 50px;
  padding: 20px;

}

.flipper {
  
}
/* hover effect */
.flipper.hover_effect:hover .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.flipper.hover_effect:hover .back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.clearfix {
  clear: both;
}

.innerwrapper p {
  line-height: 1.7;
}

@media (max-width: 1100px) {
  .flipper {
  position: relative;
  float: left;
  padding: 15px;
  width: 30%;
  text-align: center;
  height: 22rem;
  margin-left: 15px;
}
@media(max-width: 900px){
    .flipper {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 15px;
  width: 30%;
  text-align: center;
  height: 10rem;
  margin-left: 15px;
}

}
  
}